body {
    background-color: hsl(30, 54%, 90%);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block {
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* New Image for Recipe */
.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
}

.heading h2 {
    font-family: 'Young Serif', serif;
    font-size: 32px;
    color: hsl(24, 5%, 18%);
}

.heading p {
    font-family: 'Outfit', serif;
    font-size: 18px;
    color: hsl(24, 5%, 18%);
    margin-top: 10px;
}

.preptime {
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    border-radius: 10px;
    font-family: 'Outfit';
}

.preptime h2 {
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

ul {
    margin-left: 20px;
}

.Ingredients, .Instructions, .Nutrition {
    font-family: 'Outfit', serif;
    font-size: 18px;
    color: hsl(30, 10%, 34%);
    line-height: 1.8;
}

h2 {
    font-family: 'Young Serif', serif;
    font-size: 24px;
    color: hsl(14, 45%, 36%);
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2.0;
}

table td {
    font-family: 'Outfit', serif;
    font-size: 18px;
    padding: 5px;
}

table td:nth-child(2) {
    color: hsl(332, 51%, 32%);
}

table tr:not(:first-child) {
    border-top: 1px solid hsl(30, 18%, 87%);
}
